body {
  background: #040C04;
}

.oculto {
  display: none;
}

#pagina_carga {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  background: #C3C4C4;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4EDDE8;
  border-radius: 15px;
}

.alert {
  width: 95%;
  margin-left: 24.4%;
  margin-bottom: -45px;
  margin-top: 45px;
}

table {
  background: rgb(255, 255, 255);
  border: solid 1px #040C04;
}

table thead tr {
  background: #4EDDE8;
}

.table>thead>tr>th {
  border: solid 1px #040C04;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background: #4EDDE8;
}

.table-striped>tbody>tr:nth-of-type(odd) td img {
  width: 85px;
  height: 70px;
}

.table-striped>tbody>tr:nth-of-type(odd) td {
  font-size: 0.83em;
  color: rgb(0, 0, 0);
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
  background: #4EDDE8;
}

.table-hover>tbody>tr {
  background: rgb(255, 255, 255);
}

.table-hover>tbody>tr td img {
  width: 85px;
  height: 70px;
}

.table-hover>tbody>tr td {
  font-size: 0.83em;
}

.table-hover>tbody>tr:hover {
  background: #4EDDE8;
}

.table-hover>tbody>tr:hover td {
  color: rgb(255, 255, 255);
}

table thead tr th {
  color: rgb(0, 0, 0);
  text-align: center;
}

table tbody tr td {
  color: rgb(0, 0, 0);
  text-align: center;
}

table tbody tr td,
thead tr th {
  word-wrap: break-word;
}

table tbody tr td a i {
  font-size: 1.5em;
}

table tbody tr td a i.fa-edit {
  color: rgb(225, 231, 118);
}

table tbody tr td a i.fa-edit:hover {
  color: rgb(213, 226, 68);
}

table tbody tr td a i.fa-eye:hover {
  color: rgb(98, 162, 221);
}

h3>a i.fa-file-pdf {
  color: rgb(246, 246, 246);
}

h3>a i.fa-file-pdf:hover {
  color: rgb(255, 78, 31);
}

table tbody tr td a i.fa-file-pdf {
  color: rgb(170, 78, 32);
}

table tbody tr td a i.fa-file-pdf:hover {
  color: rgb(255, 78, 31);
}

table tbody tr td a i.fa-trash-alt {
  color: rgb(214, 37, 13);
}

table tbody tr td a i.fa-trash-alt:hover {
  color: rgb(255, 51, 23);
}

#main {
  display: flex;
}

#contenedor_menu {
  position: fixed;
  display: flex;
  width: 18%;
  top: 0;
  background: #C3C4C4;
  flex-direction: column;
  height: 100%;
}

#contenedor_menu.activar_hover {
  overflow: auto;
}

#contenido_pagina {
  width: 82%;
}

.panel.panel-default {
  color: #040C04;
  position: relative;
  top: 45px;
  margin-top: 10px;
  left: 24.4%;
  width: 95%;
  max-width: 95%;
  background: #F7FEC2;
  border: none;
  border-radius: 0px;
}

.panel.panel-default .panel-heading {
  background: #C3C4C4;
  border-bottom: solid 5px #4EDDE8;
  border-radius: 0px;
}

.panel.panel-default .panel-heading a {
  margin-top: 8px;
}

.panel.panel-default .panel-heading h3 {
  padding: 0;
  font-size: 1.9em;
  font-weight: 800;
  text-align: center;
}

.panel.panel-default .panel-heading h4 {
  font-size: 1.8em;
  color: #17220B;
  padding: 0;
  font-weight: 800;
  text-align: center;
}

.panel.panel-default .panel-heading,
.panel-body {
  width: 100%;
}

/* Barra de nav */
nav.navegacion_princial {
  width: 82%;
  left: 18%;
  height: 45px;
  background: #4EDDE8;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px 0px 20px;
  position: fixed;
  z-index: 30;
  border-bottom: solid 2px rgb(1, 87, 17);
}

nav.navegacion_princial ul.menu_user {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  background: #C3C4C4;
}

nav.navegacion_princial ul.menu_user>li {
  padding: 0;
  height: 100%;
}

nav.navegacion_princial ul.menu_user>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0px 25px 0px 0px;
  padding-left: 10px;
  font-size: 1.1em;
}

nav.navegacion_princial ul.menu_user>li>a>img {
  position: relative;
  margin-right: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

nav.navegacion_princial ul.menu_user>li>a>span {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  font-size: 1.1em;
}

nav.navegacion_princial ul.menu_user>li>a:hover {
  color: rgb(4, 59, 153);
  background: rgb(255, 255, 255);
}

/* sub-menu de usuario */

nav.navegacion_princial ul.menu_user li {
  -webkit-perspective: 250;
  perspective: 250;
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user {
  list-style: none;
  position: absolute;
  background: #C3C4C4;
  top: 45px;
  right: 0px;
  padding: 0;
  width: 140px;

  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.8s;
}

nav.navegacion_princial ul.menu_user.notificaciones li:first-child {
  position: relative;
}

nav.navegacion_princial ul.menu_user.notificaciones li ul.sub-menu-user {
  width: 200px;
  font-size: 0.9em;
  max-height: 50vh;
  overflow: auto;
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user.oculto {
  transform: rotateY(180deg);
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user li {
  background: #C3C4C4;
  position: relative;
  padding: 0;
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user li a {
  display: flex;
  color: rgb(0, 0, 0);
  width: 100%;
  text-decoration: none;
  padding: 10px 10px 10px 5px;
  align-items: center;
  font-size: 0.9em;
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user li a span i {
  position: relative;
  margin-right: 5px;
}

nav.navegacion_princial ul.menu_user li ul.sub-menu-user li a:hover {
  color: rgb(2, 78, 2);
  background: rgb(255, 255, 255);
}

/* LINKS PAGINACION */
.page-item.active span {
  background: #4EDDE8;
}

.page-item.active:hover span {
  background: #4EDDE8;
}

/* boton toggle */
.boton-toggle {
  top: 0px;
  left: 0%;
  position: absolute;
  height: 45px;
  width: 45px;
  background: rgb(0, 112, 15);
  cursor: pointer;
  display: none;
  z-index: 100;
}

.boton-toggle span.span-1,
span.span-2,
span.span-3 {
  position: relative;
  display: flex;
  margin-left: 1%;
  background: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  transition: all 0.3s;
}

span.span-1 {
  top: 20%;
}

span.span-2 {
  top: 40%;
}

span.span-3 {
  top: 60%;
}

.boton-toggle2 {
  top: 0px;
  right: 0px;
  position: absolute;
  height: 45px;
  width: 45px;
  background: rgb(0, 112, 15);
  cursor: pointer;
  z-index: 50;
  display: none;
}

.boton-toggle2 span.span-1,
span.span-2,
span.span-3 {
  position: relative;
  display: flex;
  margin-left: 1%;
  background: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  transition: all 1.1s;
}

/* MENU */
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C3C4C4;
  height: 20%;
  min-height: 20%;
}

#logo img {
  margin-top: 5px;
  border-radius: 50%;
  border: solid 3px rgb(255, 255, 255);
  width: 100px;
}

#titulo_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(202, 202, 202);
  padding: 15px;
  background: #777777;
  border-top: solid 2px #777777;
  height: 5%;
}

#menu {
  border-top: solid 2px #777777;
  width: 100%;
  height: auto;
  transition: all 2s;
  overflow: auto;
}

#menu::-webkit-scrollbar {
  background: #4EDDE8;
  width: 5px;
}

#menu::-webkit-scrollbar-thumb {
  background-color: #C3C4C4;
  border-radius: 15px;
}

#menu ul {
  list-style: none;
  background: #C3C4C4;
  padding: 0;
  max-height: 100%;
  transition: all 2s;
}

/*#menu ul:hover{
  overflow: auto;
  }*/

#menu ul li {
  padding: 0;
}

#menu ul li.activado>a {
  background: #4EDDE8;
}

#menu ul li.activado:hover>a {
  color: rgb(0, 0, 0);
  background: #4EDDE8;
}

#menu ul li a {
  position: relative;
  display: flex;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  font-size: 0.95em;
  align-items: center;
}

#menu ul li a span i {
  font-size: 1.3em;
  position: relative;
  margin-right: 5px;
}

#menu ul li a:hover {
  color: rgb(1, 105, 8);
  background: rgb(255, 255, 255);
}

#menu ul li.contenedor-sub-menu {
  transition: all 0.3s;
}

#menu ul li.contenedor-sub-menu a {
  display: flex;
}

#menu ul li.contenedor-sub-menu a span.flecha {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.1em;
  transition: all 0.8s;
}

#menu ul li.contenedor-sub-menu.abierto {
  background: #4EDDE8;
}

#menu ul li.contenedor-sub-menu.abierto>a {
  border-bottom: solid 2px rgb(2, 83, 10);
}

#menu ul li.contenedor-sub-menu.abierto>a:hover {
  color: black;
  background: #4EDDE8;
}

#menu ul li.contenedor-sub-menu.abierto a span.flecha {
  transform: rotateX(180deg);
}

#menu ul li.contenedor-sub-menu ul.sub-menu {
  background: #C3C4C4;
  transition: all 0.3s;
  border-bottom: solid 2px rgb(2, 83, 10);
}

#menu ul li.contenedor-sub-menu ul.sub-menu.oculto {
  transform: translateX(-100%);
  position: absolute;
}

#menu ul li.contenedor-sub-menu ul.sub-menu li>a {
  padding-left: 25px;
}

#menu ul li.contenedor-sub-menu ul.sub-menu li.activado>a {
  padding-left: 25px;
  background: #4EDDE8;
}

#menu ul li.contenedor-sub-menu ul.sub-menu li.activado:hover>a {
  background: #4EDDE8;
}

@media screen and (max-width:765px) {
  .alert {
    width: 100%;
    margin-left: 0%;
  }

  #logo {
    min-height: 150px;
    max-height: 150px;
  }

  .boton-toggle {
    display: flex;
    flex-direction: column;
  }

  .boton-toggle.abierto {
    display: none;
  }

  .boton-toggle2 {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }

  span.span-1.abierto {
    transform: rotate(-45deg);
    top: 48%;
  }

  span.span-2.abierto {
    display: none;
  }

  span.span-3.abierto {
    transform: rotate(45deg);
    top: 43%;
  }

  body.menu_activo {
    overflow: hidden;
  }

  #fondo_menu.activo {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    z-index: 40;
  }

  #contenedor_menu {
    width: 250px;
    z-index: 50;
    transition: all 1s;
    transform: translateX(-100%);
    position: fixed;
  }

  #contenedor_menu.activar_hover {
    overflow: auto;
  }

  #contenedor_menu.menu_abierto {
    transform: translateX(0);
  }

  #contenido_pagina {
    width: 100%;
  }

  nav.navegacion_princial {
    width: 100%;
    left: 0%;
    padding: 0;
    position: fixed;
  }

  .panel.panel-default {
    width: 100%;
    left: 2.5%;
  }

  .panel.panel-default.tabla {
    position: relative;
    left: 0;
    min-width: 765px;
  }

  .panel.panel-default.tabla2 {
    position: relative;
    left: 0;
    min-width: 600px;
  }

  .panel.panel-default.tabla table {
    table-layout: fixed;
  }

  .panel.panel-default.tabla table thead th {
    width: 15%;
  }

  .panel.panel-default.tabla table tbody tr td,
  thead tr th {
    font-size: 0.9em;

    padding: 3px 5px 3px 5px;
  }

  .panel.panel-default.tabla table thead tr th.iconos {
    width: 120px;
  }

  .panel.panel-default.tabla table thead tr th.iconos-lg {
    width: 220px;
  }

  .panel.panel-default.tabla table tbody tr td a.btn.btn-success {
    position: relative;
    left: -13px;
    padding: 0;
    display: block;
    width: 55px;
    font-size: 0.9em;
  }

  .panel.panel-default.tabla table tbody tr td a.btn.btn-danger {
    padding: 0;
    display: block;
    width: 45px;
    font-size: 0.9em;
  }

  .panel.panel-default.tabla table tbody tr td.iconos {
    width: 10px;
    padding: 0;
  }

  .panel.panel-default.tabla table tbody tr td.iconos a {
    text-decoration: none;
  }

  .panel.panel-default.tabla table tbody tr td.iconos a.btn.btn-danger {
    padding: 0;
    display: block;
  }
}

/* MODAL ELIMINAR */
span.registro {
  font-weight: bold;
}

/* Inputs readonly */
input.form-control[type="text" readonly=true] {
  background: rgb(255, 255, 255);
  border: solid 5px rgb(97, 207, 191);
}

#contenedor_foto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.row img {
  border-radius: 50%;
}

#identificar_personal table tbody tr td.oculto {
  display: none;
}

#identificar_personal table tbody tr td.acceso a i {
  font-size: 2.1em;
}

#identificar_personal table tbody tr td.acceso a i.fa-list-alt {
  color: rgb(73, 174, 212);
}

#identificar_personal table tbody tr td.acceso a i.fa-money-bill {
  color: rgb(24, 133, 15);
}

#identificar_personal table tbody tr td.acceso a i.fa-hand-holding-usd {
  color: rgb(24, 133, 15);
}

/* MENU HOME */
#hora {
  padding: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  border: solid 2px rgb(170, 170, 170);
  width: 130px;
}

.alert.bienvenida {
  font-size: 1.3em;
  margin-top: 50px;
  text-align: center;
}

.panel.panel-default.titulo_empresa .panel-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.panel.panel-default.titulo_empresa h1 {
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
}

.panel.panel-default.menu {
  float: left;
  margin-right: 45px;
  width: 90%;
}

.panel.panel-default.tabla .panel-body {
  overflow: auto;
}

.panel.panel-default.tabla .panel-body::-webkit-scrollbar-thumb {
  background: #008000;
  width: 100px;
}

.panel.panel-default.menu .panel-body .contenedor_maniana {
  margin: auto;
}

.panel.panel-default.menu .panel-body .maniana {
  background: rgb(0, 134, 49);
  box-shadow: 0px 0px 25px rgb(33, 30, 29);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
}

.panel.panel-default.menu .panel-body .maniana>.ingreso,
.salida {
  padding: 10px;
  width: 100%;
}

.panel.panel-default.menu .panel-body table {
  background: rgb(0, 92, 15);
  margin: auto;
  text-align: center;
  border: solid 2px rgb(255, 255, 255);
}

.panel.panel-default.menu .panel-body table tbody tr td {
  color: rgb(255, 255, 255);
}

.panel.panel-default.menu .panel-body table tbody img {
  max-width: 380px;
  max-height: 350px;
}

.panel.panel-default.menu .panel-body table tbody td {
  padding: 5px;
}

.panel.panel-default.menu .panel-body .maniana table {
  width: 100%;
}

/* TARDE */

.panel.panel-default.menu .panel-body .contenedor_tarde {
  width: 100%;
}

.panel.panel-default.menu .panel-body .tarde {
  margin-top: 10px;
  background: rgb(43, 118, 167);
  display: flex;
}

.panel.panel-default.menu .panel-body .tarde>.ingreso,
.salida {
  padding: 10px;
  width: 50%;
}

.panel.panel-default.menu .panel-body .tarde table {
  width: 100%;
}


@media screen and (max-width:765px) {
  .panel.panel-default.menu {
    width: 100%;
    margin-right: 0px;
  }

  .panel.panel-default.menu .panel-body table tbody img {
    width: 200px;
    height: 170px;
  }

  #hora {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    width: 100%;
  }
}


/* MODALES */
.modal .modal-content {
  /*border:solid 5px rgb(0, 124, 16);*/
  border: none;
}

.modal .modal-content #buscador_personal {
  color: rgb(0, 0, 0);
  background: #C3C4C4;
  margin: 10px;
  border: solid 1px #040C04;
  border-radius: 10px;
  padding: 15px;
}

.modal .modal-header {
  background: #C3C4C4;
  border-bottom: solid 5px #4EDDE8;
  border-radius: 0px;
}

.modal .modal-header h4 {
  font-weight: 900;
  text-align: center;
}

.modal .modal-footer {
  background: #C3C4C4;
}

.modal .modal-body {
  background: #F7FEC2;
  color: #040C04;
}

.modal table {
  background: rgb(255, 255, 255);
  border: solid 1px #040C04;
}

.modal table tbody tr td img {
  width: 75px;
  height: 75px;
}

.modal table thead tr {
  background: #4EDDE8;
}

.modal .table>thead>tr>th {
  border: solid 1px #040C04;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.modal .table-striped>tbody>tr:nth-of-type(odd) {
  background: #4EDDE8;
}

.modal .table-striped>tbody>tr:nth-of-type(odd) td i {
  color: rgb(0, 0, 0);
}

.modal .table-striped>tbody>tr:nth-of-type(odd) td {
  font-size: 0.83em;
  color: rgb(0, 0, 0);
}

.modal .table-striped>tbody>tr:nth-of-type(odd):hover {
  background: #4EDDE8;
}

.modal .table-hover>tbody>tr {
  background: rgb(255, 255, 255);
}

.modal .table-hover>tbody>tr td i {
  color: rgb(36, 92, 158);
}

.modal .table-hover>tbody>tr td {
  font-size: 0.83em;
}

.modal .table-hover>tbody>tr:hover {
  background: #4EDDE8;
}

.modal .table-hover>tbody>tr:hover td {
  color: rgb(255, 255, 255);
}

.modal .table-hover>tbody>tr:hover td a i {
  color: rgb(255, 255, 255);
}

/* BUSCADOR */
#buscador {
  color: rgb(0, 0, 0);
  background: #C3C4C4;
  margin: 10px;
  border: solid 1px #040C04;
  border-radius: 10px;
  padding: 15px;
}


.btn.btn-primary.pull-right {
  position: absolute;
}

.panel.panel-default .btn.btn-success {
  background: #4EDDE8;
  color: rgb(23, 0, 87);
}

a.btn.btn-warning {
  background: #FFFF80;
  border-color: #FFFF00;
  color: #000000;
  font-weight: bold;
  border: solid 1px #040C04;
}

#c_asistencia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: -10px;
}

#mensajes {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.btn.btn-warning:hover {
  background: #ECEC00;
}

#msg_success {
  max-width: 50%;
}

#msg_error {
  max-width: 100%;
}

.alert.alert2 {
  margin: 0px;
  margin-top: 5px;
}

/* NOTIFICACIONES */
.notificacion>span:first-child {
  position: relative;
}

.notificacion span.badge {
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 0.5em;
  border-radius: 50%;
  padding: 4px;
  background: red;
}